commands:
  create_swap_file:
    command: "dd if=/dev/zero of=/var/swapfile bs=1M count=2048"
    test: "! test -e /var/swapfile"
  set_swap_file_permissions:
    command: "chmod 600 /var/swapfile"
  setup_swap_area:
    command: "mkswap /var/swapfile"
  enable_swap:
    command: "swapon /var/swapfile"
  persist_swap:
    command: "echo '/var/swapfile none swap sw 0 0' >> /etc/fstab"
